.estructura{
list-style-type: circle;
list-style-color: #007bff;
padding: 10px;
border:1px  solid #ccc;
margin-bottom: 20px;
}

.orientados_objetos {
    list-style-type: square;
    list-style-color:#28a745;
    padding: 10px;
    border: 1px solid#ccc;
}






